.App {
  text-align: center;
  height: 1320px;
  width: 550px;
  background-color: #23252C;
  margin-bottom: 50px;

  /*margin : auto;*/
}
.header {
  border-radius: 20px 20px 0px 0px;
  margin: auto;
  width: 417px;

}


.header  img {
  width: 417px;
  /*padding-top: 44px;*/
  /*padding-left: 60px;*/
  border-radius: 20px 20px 0px 0px;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-top: 45px;
}

.body-container-header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  /*line-height: 30px;*/
  text-align: center;
  margin: 0 30px;

  color: #FFFFFF;

}
.body-container-header h1 {
  margin: 0;
  /*position: relative;*/
  padding-top: 30px;
}

.body-container-header h3 {
  color: #61dafb;
  letter-spacing: -0.05em;
  margin: 5px;
}

.body-container-header p {
  letter-spacing: -0.1em;
  font-family: Inter;
  font-style: normal;
  line-height: 15px;
  line-height: 150%;
  Align: Center;
  Vertical-align: Top;
  margin: 10px 0 25px;

  color: #F5F5F5
}

.body-container {
  background-color: #1A1B21;
  width: 417px;
  height: 695px;
  margin-top: 0;
  align-items: center;
  margin: auto;


}

.footer {
  background-color: black;
  width: 417px;
  height: 100px;
  /*margin-top: 20px;*/
  align-items: center;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
}

.footer img {
  margin: 20px;
  width: 40px;
}

.body-container-btn-link button{
  display: inline;
  margin: 0 10px;
  padding: 0 10px;
  height: 45px;
  width: 160px;
}

.linkedin{
  background-color: #5093E2;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}
.linkedin img {
  margin-right: 10px;
  width: 19px;
}

.email{
  background-color: #ffffff;
  border-radius: 6px;
  padding-left: 30px;
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.email img  {
  margin-right: 10px;
  width: 19px;
}

.body-container-about {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-width: 247px;
  width: 330px;
  /*align-items: left;*/
  /*display: inline;*/
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  /* or 15px */

  color: #DCDCDC;
}

.body-container-about p {
  text-align: left;
  font-size: 20px;
  margin: 0;
}

.body-container-about h2 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 5px;
}





.App-link {
  color: #61dafb;
}

